.header {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #1f2937;
    border: 2px solid red;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}


.logo {
    margin-top: 40px;
    color: #f9faf8;
    font-size: 24px;
} 

h1 {
    color: #f9faf8;
    font-size: 36px;

}

p {
    color: #f9faf8;
    font-size: 24px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin-top: 0;
    padding: 24px;
    gap: 24px;
    list-style-type: none;
    border: 2px solid red;
}

.links {
    margin-top: 1em;
    margin-right: 2em;
}

.container1 {
    display: flex;
    margin-bottom: 2em;
    background-color: #1f2937;
    border: 2px solid red;
}

/*push writing down to meet photo img before push*/
.commerce-solutions {
    margin-top: 0;
    margin-bottom: -25px;
    padding: 20px;
    color: #f9faf8;
    border: 2px solid red;
}

.commerce-solutions1 {
    padding: 20px;
    margin-bottom: 50px;
    border: 2px solid red;
}

.right-square {
    margin: 0;
    display: flex;
    margin: auto;
    width: 100vh;
}

img {
    margin-top: 48px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 48px;
    object-fit: contain;
    flex: 1;
    border: 2px solid red;
}

/*Fix this button before git push, padding fine margin maybe not.*/
button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 18px;
    margin-bottom: 24px;
    border-radius: 50cm;
    font-size: 24px;
    background-color: #404040;
    color: #f9faf8;
    font-family: 'Times New Roman', Times, serif;
    border-color: #f9faf8;
    border-style: solid;
}
/* Do need one more flex with the img as well on the right
how I go about putting this in order I don't know.*/