.header {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #1f2937;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
}


.logo {
    display: flex;
    justify-content: space-around; 
    margin-top: 0px;
    color: #f9faf8;
    font-size: 24px;
} 

.commerce-solutions {
    color: #f9faf8;
    font-size: 36px;

}

.commerce-solutions1 {
    color: #f9faf8;
    font-size: 24px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    font-size: 18px;
    margin-top: 0;
    margin-left: 140px;
    padding-top: 0;
    gap: 24px;
    list-style-type: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px; 
    background-color: #1f2937;
}


.left-square {
    display: flex;
    /* 33.33333 creates break in sentences.*/
    flex-basis: 33.33333%; 
    align-items: flex-start;
    justify-content: center; 
    flex-direction: column;
    margin-top: 0;
    margin-left: 0; 
    margin-right: 0;
    /*margin-bottom needs to be the same px on right-square as well.*/
    margin-bottom: 85px; 
}

button {
    margin-top: 0;
    margin-left: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50cm;
    font-size: 24px;
    background-color: #404040;
    color: #f9faf8;
    font-family: 'Times New Roman', Times, serif;
    border-color: #f9faf8;
    border-style: solid;
}


.right-square {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    /*margin-bottom needs to be equal in px to left-square.*/
    margin-bottom: 85px; 
}


.computer-picture {
    flex-shrink: 1;
    min-height: 140px;
    min-width: 320px;
    margin-top: 40px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.info {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    flex-wrap: wrap;
    /*flex-basis at a certain % can control when a sentence breaks to next line.*/
    flex-basis: 12.11111%;
}

.text {
    color: #1f2937;
    font-size: 16px;
}

.burner {
    border-radius: 20px;
    border: 2px solid grey;
}


.inspire {
    background-color: #E5E7EB;
}

.chat {
    display: flex;
    justify-content: space-evenly;
}


.quote {
    color: #1F2937;
    font-style: italic;
    padding: 48px;
    font-size: 36px;
    flex-basis: 49.33333%;
}


.thor {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 20px;
}

.top-bottom {
    margin-top: 0px;
    margin-bottom: 0px;
}