.header {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #1f2937;
    border: 2px solid red;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}


.logo {
    margin-top: 40px;
    color: #f9faf8;
    font-size: 24px;
} 

h1 {
    color: #f9faf8;
    font-size: 36px;

}

p {
    color: #f9faf8;
    font-size: 24px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin-top: 0;
    padding: 24px;
    gap: 24px;
    list-style-type: none;
    border: 2px solid red;
}

.links {
    margin-top: 1em;
    margin-right: 2em;
}

.container {
    display: flex;
    /*margin-bottom: 2em;*/
    background-color: #1f2937;
    border: 2px solid red;
}

/*push writing down to meet photo img before push*/
.commerce-solutions {
    margin-top: 55px;
    margin-left: 50px;
    margin-bottom: -22px;
    color: #f9faf8;
    border: 2px solid red;
}

.commerce-solutions1 {
    margin-left: 50px;
    margin-bottom: 2px;
    border: 2px solid red;
}

button {
    margin-top: 0;
    margin-left: 48px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50cm;
    font-size: 24px;
    background-color: #404040;
    color: #f9faf8;
    font-family: 'Times New Roman', Times, serif;
    border-color: #f9faf8;
    border-style: solid;
}


.right-square {
    margin: 0;
    display: flex;
    margin: auto;
    width: 100vh;
}

.computer-picture {
    /* Computer img design below.*/
    margin-top: 48px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 48px;
    object-fit: contain;
    flex: 1;
    border: 2px solid red;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*border: 2px solid green;*/
}

/*
.info {
    border: 2px solid green;
}*/

.text {
    display: flex;
    justify-content: center;
    /*border: 2px solid green;*/
    color: #1f2937;
    font-size: 18px;
    
}

.burner {
    object-fit: contain;
    border-radius: 20px;
   /* border: 2px solid green;*/
}
/*Fix this button before git push, padding fine margin maybe not.*/

/* SOmething is causing button not to move over another rule
somewhere fix another day it is wrong.

Do need one more flex with the img as well on the right
how I go about putting this in order I don't know.*/